
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00420c;">
        <a class="navbar-brand ms-4" href="/planotrabalho/index">
            <img src="/img/logo-ifpe.png" width="150px" height="40" />
        </a>
        <ul class="navbar-nav me-auto ms-4">
            <li class="nav-item">
                <a href="/planotrabalho/index" class="nav-link">Meus Planos</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Meus Relatórios</a>
            </li>
            <li class="nav-item">
                <a href="/docente/edit" class="nav-link">Meu Cadastro</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>