
<nav class="navbar navbar-collapse navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">
        PlanoApp
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a href="planotrabalho/index" class="nav-link">Meus Planos</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Meus Relatórios</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Meu Cadastro</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>