<%- include('../../partials/header.ejs') -%>
    <%- include('../../partials/navbaradmin.ejs') -%>

            <div class="container">
                <div class="card mt-4">
                    <div class="card-header">
                        <h2>Informe os dados da coordenação:</h2>
                    </div>
                    <div class="card-body">
                        <form action="/admin/coordenacao/create" method="post">
                            <label class="form-label">Nome da Coordenação: </label>
                            <hr>
                            <input class="form-control" type="text" name="nome" placeholder="Digite aqui o nome da coordenação" required>
                            <br>
                            <button class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>

        <%- include('../../partials/footer.ejs') -%>