<%- include('./partials/header.ejs') -%>
    <%- include('./partials/navbar.ejs') -%>

        <body>
            <div class="container">
                <h1>Site Funcionando!!</h1>
            </div>
        </body>

        <%- include('./partials/footer.ejs') -%>